<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acedit.assignamo"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MainStyle"
        android:allowBackup="true" >
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup.SetupWizard"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".AssignmentViewFragment"
            android:label="@string/assignment_view_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AssignmentEditFragment" />
        <!-- Manage -->
        <activity
            android:name=".manage.ManageActivity"
            android:theme="@style/StyledIndicators" />
        <activity
            android:name=".manage.CourseListFragment" />
        <activity
            android:name=".manage.CourseViewFragment"
            android:label="@string/course_view_title"
            android:parentActivityName=".manage.ManageActivity" />
        <activity
            android:name=".manage.DaySelectFragment"
            android:label="@string/course_edit_days_select_title"
            android:theme="@style/CourseDaysSelect" />
        <activity
           	android:name=".manage.CourseEditActivity" />
        <activity
            android:name=".manage.TeacherListFragment" />
        <activity
            android:name=".manage.TeacherEditActivity" />
        <activity
            android:name=".manage.TeacherViewFragment"
            android:label="@string/teacher_view_title" />
        <!-- Preferences -->
        <activity
            android:name=".preferences.Preferences"
            android:label="@string/preferences" />
    </application>

</manifest>